
 <div class="col-sm-8 blog-main">
 <% @posts.each do |post| %>
  <div class="blog-post">
    <h2 class="blog-post-title"><%= post.title %></h2>
    <p class="blog-post-meta"><a href="#">Mtcodez</a></p>
  </div>
  <p>
  <%= post.contents %>
  </p>
  <% end %>
</div>            